@font-face {
  font-family: 'BarlowCondensed';
  src: url('fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf');
}

body {
  font-family: 'BarlowCondensed';
  /* background-color: rgb(38, 42, 49); */
  /* color: #DDD; */
}

